.footer {
    background-color: #2f9ce4;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
    color: black;
  }
  
  .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: white;

  }
  
  .footer-section .social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 18px;
  }
  
  

  